



    
  <!DOCTYPE html> 
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <!-- Boxicons -->
      <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
       <!-- My CSS -->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
       <link rel="stylesheet" href="/css/dashboard.css">
      <title>GOCART AdminHub</title>
  </head>
  <body>


    <!-- SIDEBAR -->
    <section id="sidebar">
        <a href="#" class="brand">
            <h2 class="text p-5" style="color: black;">GOCART</h2>
        </a>
        <ul class="side-menu top">
			<li class="active">
				<a href="/admin/">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="/admin/productManagment">
					<!-- /admin/addproduct -->
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">ProductManagment</span>
				</a>
			</li>
			<li>
				<a href="/admin/UserManagment">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">User managment</span>
				</a>
			</li>
			<li>
				<a href="/admin/OrderManagment">
					<i class='bx bxs-group' ></i>
					<span class="text">Order Managment</span>
				</a>
			</li>
            <li>
				<a href="/admin/cateogaryManagment">
					<i class='bx bxs-cog' ></i>
					<span class="text"> Cateogary Managment</span>
				</a>   
			</li>
			<li>
				<a href="/admin/CoupenManagment">
					<!-- /admin/addproduct -->
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Coupen Managment</span>
				</a>
			</li>
		</ul>
        <ul class="side-menu">

            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->



    <!-- CONTENT -->
    <section id="content">

        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Unlist Cateogary</h1>
                    <!-- <ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Home</a>
						</li>
					</ul> -->
                </div>

            </div>
            
        <div class="container " style="background-color: rgb(233, 230, 221);">
            <div class="container-head p-2">
                <button class="p-3 bg-black" style="border-radius: 10px;"><a class="text-white" href="/admin/cateogaryManagment" >Go Back</a></button>
            </div>   
                 <% for(let i=0;i<Cateogary.length;i++) { %>
                    <div class="container-body bg-white d-flex justify-content-between m-2 text-dark" style="border-radius: 20px;">
                        <div class="product d-flex">
                        <img src="<%=  Cateogary[i].image[0] %>" alt="jsggs" style="width: 100px;">
                        <div class="product-body m-5">
                            <h5>Cateogary:<%=Cateogary[i].categary%></h5>  
                        </div>
                        </div>
                        <div class="product-dtails p-3 d-flex">
                            <div class="text-center">
                                <!-- <p>MRP:12000</p>
                                <p>Discount:5%</p>
                                <p>10800</p>  -->
                            </div>
                            <div class="buttons m-3 text-center d-flex">
                            <!-- <a href=""><i class="bi bi-pencil-square"style="font-size: 30px;"></i></a>  -->
                            <a href="/admin/unlistrecycleCateogary?id=<%= Cateogary[i]._id %>"><i class="bi bi-recycle" style="font-size: 30px;"></i></a>   
                            </div>
                        </div>
                        
                    </div> 

                <% } %>
        </div>


    </section>
    <!-- CONTENT -->


    <script src="script.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>